@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<address>
    Dawid Majewski<br />
    Junior ASP.NET Programmer<br />
    
</address>

<address>
    <strong>Github:</strong>   <a href="https://github.com/dawid446">github.com/dawid446</a><br />
</address>