<div id="home">
    <div class="col text-center">

        <span class="head-main">

            Dołącz do gry
        </span>
        <h2 class="head-sub-main">Stwórz swój własny turniej</h2>

        @Html.ActionLink("Kliknij tutaj", "Index", "Tournaments", null, new { @class = "btn btn-danger btn-lg head-btn-one" })

    </div>
</div>


