@{
    ViewBag.Title = "Potwierdzenie hasła";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Dziękuje za potwierdzenie hasła. Prosze zaloguj się @Html.ActionLink("Klikij aby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
