
<h2>Panel Administratora</h2>

<div class="col">
    @Html.ActionLink("Turnieje", "Tournament", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Drużyny", "Team", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Piłkarze", "Player", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Użytkownicy", "User", null, new { @class = "btn btn-primary" })
</div>

